.practice_text_box {
    -fx-background-color: #ffffff;
    -fx-border-color: #969696;
    -fx-border-width: 4;
    -fx-font-size: 16;
}

.practice_result {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 4;
    -fx-font-size: 14;
}

.check_btn {
    -fx-background-color: rgba(40, 255, 6, 0.87);
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}

.back_btn {
    -fx-background-color: rgba(23, 24, 255, 0.6);
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
}

.theory_text {
    -fx-font-size: 14;
}